@page "/"
@using Common.ViewModel;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@inject UserService userService

@attribute [Authorize]


@if (userData is not null)
{
    <h1>Hello, @userData.FirstName!</h1>
}
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public CustomerViewModel userData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var autState = await AuthenticationStateTask;

        if (autState.User.Identity.IsAuthenticated)
        {
            var userId = autState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier).Value;

            userData = await userService.GetUserById(userId);
        }


        await base.OnInitializedAsync();
    }
}
